alabaster==1.0.0
anytree==2.12.1
asgiref==3.8.1
attrs==24.2.0
autopage==0.5.2
babel==2.16.0
beautifulsoup4==4.12.3
bullet==2.2.0
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
cliff==4.7.0
cmd2==2.4.3
colorama==0.4.6
configobj==5.0.9
configparser==7.1.0
cryptography==43.0.1
distlib==0.3.8
Django==5.1.1
django-allauth==64.2.1
django-eventlog==2.2.1
djangorestframework==3.15.2
dnspython==2.0.0
docutils==0.21.2
filelock==3.16.1
gnupg==2.3.1
humanfriendly==10.0
idna==3.10
imagesize==1.4.1
ipwhois==1.2.0
Jinja2==3.1.4
lxml==5.3.0
MarkupSafe==2.1.5
mccabe==0.7.0
packaging==24.1
paystack==1.5.0
pbr==6.1.0
pexpect==4.9.0
pillow==10.4.0
platformdirs==4.3.6
pluggy==1.5.0
prettytable==3.11.0
property-manager==3.0
psutil==6.0.0
ptyprocess==0.7.0
pycparser==2.22
pyflakes==3.2.0
Pygments==2.18.0
PyJWT==2.9.0
pyperclip==1.9.0
pyproject-api==1.8.0
pyreadline3==3.5.4
python-dotenv==1.0.1
python-secrets==23.4.2
PyYAML==6.0.2
requests==2.32.3
setuptools==75.1.0
setuptools-scm==8.1.0
simplejson==3.19.3
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.6
Sphinx==8.0.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sqlparse==0.5.1
stevedore==5.3.0
tox==4.20.0
tzdata==2024.1
urllib3==2.2.3
verboselogs==1.7
virtualenv==20.26.5
wcwidth==0.2.13
xkcdpass==1.19.9
yamlreader==3.0.4
