{% extends 'master/base.html' %}

{% block content %}


<main class="main">
    <div class="page-header text-center" style="background-image: url('/static/assets/images/backgrounds/bg-1.jpg')">
        <div class="container">
            <h1 class="page-title" style="color: white;">Checkout<span>Shop</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">Checkout</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="checkout">
            <div class="container">
                {% comment%}
                <div class="checkout-discount">
                    <form action="#">
                        <input type="text" class="form-control" required id="checkout-discount-input">
                        <label for="checkout-discount-input" class="text-truncate">Have a coupon? <span>Click
                                here to enter your code</span></label>
                    </form>
                </div><!-- End .checkout-discount -->
                {% endcomment%}
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-9">

                            <h2 class="checkout-title">Checkout Details</h2><!-- End .checkout-title -->

                            <div class="row">
                                <div class="col-sm-6">
                                    <label>First Name *</label>
                                    <input name="firstname" value="{{checkout_details.firstname}}" type="text"
                                        class="form-control" required>
                                </div><!-- End .col-sm-6 -->

                                <div class="col-sm-6">
                                    <label>Last Name *</label>
                                    <input name="lastname" value="{{checkout_details.lastname}}" type="text"
                                        class="form-control" required>
                                </div><!-- End .col-sm-6 -->
                            </div><!-- End .row -->
                            <label> Email *</label>
                            <input name="email" value="{{checkout_details.email}}" type="text" class="form-control"
                                required>
                            <label>Company Name (Optional)</label>
                            <input name="company" value="{{checkout_details.company}}" type="text" class="form-control">

                            <label>Country *</label>
                            <input name="country" value="{{checkout_details.country}}" type="text" class="form-control"
                                required>

                            <label>Street address *</label>
                            <input name="address" value="{{checkout_details.address}}" type="text" class="form-control"
                                placeholder="House number and Street name" required>
                            <input name="building" value="{{checkout_details.building}}" type="text"
                                class="form-control" placeholder="Appartments, suite, unit etc ..." required>

                            <div class="row">
                                <div class="col-sm-6">
                                    <label>Town / City *</label>
                                    <input name="city" value="{{checkout_details.city}}" type="text"
                                        class="form-control" required>
                                </div><!-- End .col-sm-6 -->

                                <div class="col-sm-6">
                                    <label>State / County *</label>
                                    <input name="state" value="{{checkout_details.state}}" type="text"
                                        class="form-control" required>
                                </div><!-- End .col-sm-6 -->
                            </div><!-- End .row -->

                            <div class="row">
                                <div class="col-sm-6">
                                    <label>Postcode / ZIP *</label>
                                    <input name="zip-code" value="{{checkout_details.zip_code}}" type="text"
                                        class="form-control" required>
                                </div><!-- End .col-sm-6 -->

                                <div class="col-sm-6">
                                    <label>Phone *</label>
                                    <input name="phone" value="{{checkout_details.phone}}" type="tel"
                                        class="form-control" required>
                                </div><!-- End .col-sm-6 -->
                            </div><!-- End .row -->

                            {% comment %}
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="checkout-create-acc">
                                <label class="custom-control-label" for="checkout-create-acc">Create an
                                    account?</label>
                            </div><!-- End .custom-checkbox -->

                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="checkout-diff-address">
                                <label class="custom-control-label" for="checkout-diff-address">Ship to a
                                    different address?</label>
                            </div><!-- End .custom-checkbox -->
                            {% endcomment %}

                            <label>Order notes (optional)</label>
                            <textarea name="notes" class="form-control" cols="30" rows="4"
                                placeholder="Notes about your order, e.g. special notes for delivery">{{checkout_details.notes}}</textarea>

                            <input type="submit" name="submit-details" value="Save Details"
                                class="btn btn-outline-primary-2 btn-order btn-block"></input>
                        </div><!-- End .col-lg-9 -->
                        <aside class="col-lg-3">
                            <div class="summary">
                                <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

                                <table class="table table-summary">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {% for cart_item in cart_items %}
                                        <tr>
                                            <td><a href="/product/{{cart_item.product.id}}">{{cart_item.product.name}}</a></td>
                                            <td>₦ {{cart_item.product.price}}</td>
                                        </tr>
                                        {% endfor %}


                                        <tr class="summary-subtotal">
                                            <td>Subtotal:</td>
                                            <td>₦ {{subtotal}}</td>
                                        </tr><!-- End .summary-subtotal -->
                                        <tr>
                                            <td>Shipping:</td>
                                            <td>Free shipping</td>
                                        </tr>
                                        <tr class="summary-total">
                                            <td>Total:</td>
                                            <td>₦ {{subtotal}}</td>
                                        </tr><!-- End .summary-total -->
                                    </tbody>
                                </table><!-- End .table table-summary -->

                                <div class="accordion-summary" id="accordion-payment">
                                    {% comment %}
                                    <div class="card">
                                        <div class="card-header" id="heading-1">
                                            <h2 class="card-title">
                                                <a role="button" data-toggle="collapse" href="#collapse-1"
                                                    aria-expanded="true" aria-controls="collapse-1">
                                                    Direct bank transfer
                                                </a>
                                            </h2>
                                        </div><!-- End .card-header -->
                                        <div id="collapse-1" class="collapse show" aria-labelledby="heading-1"
                                            data-parent="#accordion-payment">
                                            <div class="card-body">
                                                Make your payment directly into our bank account. Please use
                                                your Order ID as the payment reference. Your order will not be
                                                shipped until the funds have cleared in our account.
                                            </div><!-- End .card-body -->
                                        </div><!-- End .collapse -->
                                    </div><!-- End .card -->

                                    <div class="card">
                                        <div class="card-header" id="heading-2">
                                            <h2 class="card-title">
                                                <a class="collapsed" role="button" data-toggle="collapse"
                                                    href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                                                    Check payments
                                                </a>
                                            </h2>
                                        </div><!-- End .card-header -->
                                        <div id="collapse-2" class="collapse" aria-labelledby="heading-2"
                                            data-parent="#accordion-payment">
                                            <div class="card-body">
                                                Ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio.
                                                Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.
                                            </div><!-- End .card-body -->
                                        </div><!-- End .collapse -->
                                    </div><!-- End .card -->

                                    <div class="card">
                                        <div class="card-header" id="heading-3">
                                            <h2 class="card-title">
                                                <a class="collapsed" role="button" data-toggle="collapse"
                                                    href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                                                    Cash on delivery
                                                </a>
                                            </h2>
                                        </div><!-- End .card-header -->
                                        <div id="collapse-3" class="collapse" aria-labelledby="heading-3"
                                            data-parent="#accordion-payment">
                                            <div class="card-body">Quisque volutpat mattis eros. Lorem ipsum
                                                dolor sit amet, consectetuer adipiscing elit. Donec odio.
                                                Quisque volutpat mattis eros.
                                            </div><!-- End .card-body -->
                                        </div><!-- End .collapse -->
                                    </div><!-- End .card -->

                                    <div class="card">
                                        <div class="card-header" id="heading-4">
                                            <h2 class="card-title">
                                                <a class="collapsed" role="button" data-toggle="collapse"
                                                    href="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
                                                    PayPal <small class="float-right paypal-link">What is
                                                        PayPal?</small>
                                                </a>
                                            </h2>
                                        </div><!-- End .card-header -->
                                        <div id="collapse-4" class="collapse" aria-labelledby="heading-4"
                                            data-parent="#accordion-payment">
                                            <div class="card-body">
                                                Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra
                                                non, semper suscipit, posuere a, pede. Donec nec justo eget
                                                felis facilisis fermentum.
                                            </div><!-- End .card-body -->
                                        </div><!-- End .collapse -->
                                    </div><!-- End .card -->
                                    {% endcomment %}

                                    <div class="card">
                                        <div class="card-header" id="heading-5">
                                            <h2 class="card-title">
                                                <a class="collapsed" role="button" data-toggle="collapse"
                                                    href="#collapse-5" aria-expanded="false" aria-controls="collapse-5">
                                                    Paystack
                                                </a>
                                            </h2>
                                        </div><!-- End .card-header -->
                                        <div id="collapse-5" class="collapse" aria-labelledby="heading-5"
                                            data-parent="#accordion-payment">
                                            <div class="card-body"> Pay with with your credit/debit card
                                            </div><!-- End .card-body -->
                                        </div><!-- End .collapse -->
                                    </div><!-- End .card -->
                                    <p>More options coming soon...</p>
                                </div><!-- End .accordion -->

                                <input type="submit" value="Place Order" name="placeorder" class="btn btn-outline-primary-2 btn-order btn-block">
                                
                                
                            </div><!-- End .summary -->
                        </aside><!-- End .col-lg-3 -->
                    </div><!-- End .row -->
                </form>
            </div><!-- End .container -->
        </div><!-- End .checkout -->
    </div><!-- End .page-content -->
</main><!-- End .main -->


{% endblock %}