{% extends 'master/base.html' %}

{% block content %}
        <main class="main">
            <div class="page-header text-center" style="background-image: url('/static/assets/images/backgrounds/bg-1.jpg')">
                <div class="container">
                    <h1 class="page-title" style="color: white;">Searched for "{{search}}"</h1>
                </div><!-- End .container -->
            </div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Search</a></li>
                        {% comment %} <li class="breadcrumb-item active" aria-current="page">Grid 3 Columns</li> {% endcomment %}
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="toolbox">
                                <div class="toolbox-left">
                                    <div class="toolbox-info">
                                        Showing <span>{{ page_obj.start_index }} of {{ page_obj.end_index }}</span> Products
                                    </div><!-- End .toolbox-info -->
                                </div><!-- End .toolbox-left -->

                                <div class="toolbox-right">
                                    <div class="toolbox-sort">
                                        <label for="sortby">Sort by:</label>
                                        <div class="select-custom">
                                            <select name="sortby" id="sortby" class="form-control">
                                                <option value="popularity" selected="selected">Most Popular</option>
                                                <option value="rating">Most Rated</option>
                                                <option value="date">Date</option>
                                            </select>
                                        </div>
                                    </div><!-- End .toolbox-sort -->
                                    
                                </div><!-- End .toolbox-right -->
                            </div><!-- End .toolbox -->

                            <div class="products mb-3">
                                <div class="row justify-content-center">

                                    {% for product in page_obj.object_list %}

                                    <div class="col-6 col-md-4 col-lg-4">
                                        <div class="product product-7 text-center">
                                            <figure class="product-media">
                                                <!-- <span class="product-label label-new">New</span> -->
                                                <a href="/product/{{product.id}}">
                                                    <img src="/static/assets/{{product.ogimages.0}}"
                                                        alt="Product image" class="product-image">
                                                </a>
                                                
                                                <div class="product-action-vertical">
                                                    <a href="/add-to-wishlist/{{product.id}}"
                                                        class="btn-product-icon btn-wishlist btn-expandable"><span>add
                                                            to wishlist</span></a>
                                                    <!-- <a href="popup/quickView"
                                                        class="btn-product-icon btn-quickview"
                                                        title="Quick view"><span>Quick view</span></a>
                                                    <a href="#" class="btn-product-icon btn-compare"
                                                        title="Compare"><span>Compare</span></a> -->

                                                </div><!-- End .product-action-vertical -->

                                                <div class="product-action">
                                                    <a href="/product/{{product.id}}" class="btn-product btn-cart"><span>add to
                                                            cart</span></a>
                                                </div><!-- End .product-action -->
                                            </figure><!-- End .product-media -->

                                            <div class="product-body">
                                                <div class="product-cat">
                                                    <a href="#">{{product.ogcategory.0}}</a>
                                                </div><!-- End .product-cat -->
                                                <h3 class="product-title">
                                                    <a href="/product/{{product.id}}">{{product.name}}</a>
                                                </h3><!-- End .product-title -->
                                                <div class="product-price">
                                                    ${{product.price}}
                                                </div><!-- End .product-price -->
                                                <div class="ratings-container">
                                                    <div class="ratings">
                                                        <div class="ratings-val" style="width: 20%;"></div>
                                                        <!-- End .ratings-val -->
                                                    </div><!-- End .ratings -->
                                                    <span class="ratings-text">( 2 Reviews )</span>
                                                </div><!-- End .rating-container -->


                                                {% comment %} Might Implement
                                                <div class="product-nav product-nav-thumbs">
                                                    <a href="#" class="active">
                                                        <img src="/static/assets/images/products/cart/product-2.jpg"
                                                            alt="product desc">
                                                    </a>
                                                    <a href="#">
                                                        <img src="/static/assets/images/products/cart/product-2.jpg"
                                                            alt="product desc">
                                                    </a>

                                                    <a href="#">
                                                        <img src="/static/assets/images/products/cart/product-2.jpg"
                                                            alt="product desc">
                                                    </a>
                                                </div><!-- End .product-nav --> {% endcomment %}
                                            </div><!-- End .product-body -->
                                        </div><!-- End .product -->
                                    </div><!-- End .col-sm-6 col-lg-4 -->

                                    {% endfor %}
                                    

                                    

                                </div><!-- End .row -->
                            </div><!-- End .products -->

                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item">
                                        <a class="page-link page-link-prev" href="?page=1" aria-label="Previous" tabindex="-1"
                                            aria-disabled="true">
                                            <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>First
                                        </a>
                                    </li>
                                    {%if page_obj.has_previous %} {# whether the previous page exists #}
                                    <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}">{{page_obj.previous_page_number}}</a></li>
                                    {% endif %}
                                    
                                    <li class="page-item active" aria-current="page"><a class="page-link" href="?page={{page_obj.number}}">{{page_obj.number}}</a></li>

                                    {%if page_obj.has_next %} {# whether the next page exists #}
                                    <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">{{page_obj.next_page_number}}</a></li>
                                    {% endif %}

                                    <li class="page-item-total">of  {{page_obj.paginator.num_pages}}</li>

                                    <li class="page-item">
                                        <a class="page-link page-link-next" href="?page={{page_obj.paginator.num_pages}}" aria-label="Next">
                                            Last <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div><!-- End .col-lg-9 -->
                        <aside class="col-lg-3 order-lg-first">
                            <div class="sidebar sidebar-shop">
                                <div class="widget widget-clean">
                                    <!-- <label>Filters:</label>
                                    <a href="#" class="sidebar-filter-clear">Clean All</a> -->
                                </div><!-- End .widget widget-clean -->

                                
                            </div><!-- End .sidebar sidebar-shop -->
                        </aside><!-- End .col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

    {% endblock %}



        